{% extends 'base.html.twig' %}


{% block title %}{{ element.caption|e }} {% endblock %}


{% block meta_desctiption %} Описание особенностей игры "{{ element.caption|e }}" в настольной игре "БЭНГ!"
{% endblock %}


 {% block body %}
     <div class="container block-content">
         <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-3 text-center mainimage" style="margin-top:10px;">
                 {{ include('pages/element-image.html.twig',{'element': element}) }}
             </div>
             <div class="col-xs-12 col-sm-6 col-md-9">
                 <h1>{{ element.caption|e }}{% if app.environment=='dev' %} [{{ element.id|e }}]{% endif %}</h1>
                 <p><b>Базовое описание:</b> {{ element.short|e }}</p>
                 {% if element.addition %}<p><b>Дополнение:</b> {{ element.addition.caption|e }}</p>{% endif %}
                 {% if element.ghost %}<p><b>Призрачный стрелок:</b> {{ element.ghost|e }}</p>{% endif %}
                 {% if element.description %}<p><b>Дополнительные комментарии: </b><br/> {{ element.description|nl2br }}</p>{% endif %}
                 {% if app.user %}
                     <p>
                         <a class="btn btn-info" data-id="{{ element.id|e }}" data-description="{{ element.description }}" data-toggle="modal" data-target="#editElementModal">
                             <span class="glyphicon glyphicon-pencil"></span> Редактировать
                         </a>
                     </p>
                 {% endif %}
             </div>
         </div>
         <hr/>

         {% set elem_ids=[]%}
         <section class="accordion-section clearfix" aria-label="">

                 <h2>Взаимодействие с другими элементами</h2>
                 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                     {% for row in content_arr %}
                        {% if row.rules|length>0 %}
                             <div class="panel panel-default">
                                 <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ row.type.id }}" aria-expanded="true" aria-controls="collapse0" role="button" id="heading{{ row.type.id }}">
                                     <h3 class="panel-title">
                                         {{ row.type.caption|e }} ({{ row.rules|length }})
                                     </h3>
                                 </div>
                                 <div id="collapse{{ row.type.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ row.type.id }}">
                                     <div class="panel-body">
                                         {% for rule in row.rules %}
                                             <div class="row oneelement">
                                                 <div class="col-sm-2 col-xs-4">
                                                     {{ include('pages/element-image.html.twig',{'element': rule.main}) }}
                                                 </div>
                                                 <div class="col-sm-10 col-xs-8">
                                                     <a href="{{ url('oneelement', {'typealias':rule.main.type.alias|e, 'elementalias': rule.main.alias|e}) }}"><h4 class="elementheader" >{{ rule.main.caption|e }}</h4></a>
                                                     <p>{{ rule.rule.caption|nl2br }}</p>
                                                     <p class="text-right"><i>{{ rule.rule.createdAt|date('d.m.Y') }} by {{ rule.rule.user.username|e }}</i></p>
                                                     {% set elem_ids=elem_ids|merge([rule.main.id]) %}
                                                     {% if rule.also|length>0 %}
                                                         <p><b>См. также:</b>
                                                             {% for elem in rule.also %}
                                                                 {% if loop.index>1 %}, {% endif %}
                                                                 <a href="{{ url('oneelement', {'typealias':elem.type.alias|e, 'elementalias': elem.alias|e}) }}">{{ elem.caption|e }}</a>
                                                             {% endfor %}
                                                         </p>
                                                     {% endif %}
                                                     {% if app.user %}
                                                         <p><a data-id="{{ rule.rule.id|e }}" data-caption="{{ rule.rule.caption|e }}" data-toggle="modal" data-target="#editRuleModal" class="btn btn-info starteditrule"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></p>
                                                     {% endif %}
                                                     <div class="hidden" id="alsoelemsrule{{ rule.rule.id|e }}">
                                                         <p title="Кликните для удаления" class="element_2" data-id="{{ rule.main.id|e }}">{{ rule.main.caption|e }} ({{ rule.main.type.caption|e }})</p>
                                                         <input name="elements2[]" type="hidden" value="{{ rule.main.id|e }}">
                                                         {% for elem in rule.also %}
                                                             <p title="Кликните для удаления" class="element_2" data-id="{{ elem.id|e }}">{{ elem.caption|e }} ({{ elem.type.caption|e }})</p>
                                                             <input name="elements2[]" type="hidden" value="{{ elem.id|e }}">
                                                         {% endfor %}
                                                     </div>
                                                 </div>
                                             </div>
                                         {% endfor %}
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                     {% endfor %}
                 </div>
         </section>
         <hr/>
         <div class="row">
             <div class="col-xs-12">
                 <a class="btn btn-default" href="{{ url('homepage') }}"><span class="glyphicon glyphicon-home"></span> На главную</a>
                 {% if app.user %}<a class="btn btn-info" data-toggle="modal" data-target="#addRuleModal"><span class="glyphicon glyphicon-plus"></span> Добавить новое правило</a>{% endif %}
             </div>
         </div>
     </div>

     {{ include('editrulemodal.html.twig', {'element':element,'alsoelements':alsoelements}) }}
     {{ include('addrulemodal.html.twig', {'element':element,'alsoelements':alsoelements}) }}

     <div class="modal fade" id="editElementModal" tabindex="-1" role="dialog" aria-labelledby="editElementModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="editElementModalLabel">Редактирование описания "{{ element.caption|e }}"</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <form id="addRuleForm" action="{{ url('editelement') }}">
                     <div class="modal-body">
                         <div class="form-group">
                             <label for="descriptionelem" class="col-form-label">Дополнительные комментарии:</label>
                             <textarea class="form-control" id="descriptionelem" name="description" style="min-height:60vh;"></textarea>
                         </div>
                     </div>
                     <input type="hidden" name="element_id" value="{{ element.id|e }}">
                     <div class="modal-footer">
                         <button type="submit" class="btn btn-success">Сохранить изменения</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>

     <script>
         $(function() {
             $('.selectpicker').selectpicker();
             $("#element_ids2").on("changed.bs.select",
                 function(e, clickedIndex, newValue, oldValue) {
                     var $selected=$('select[id=element_ids2] option').filter(':selected')
                     var $elements2=$('#elements2')
                     $elements2.append('<p title="Кликните для удаления" class="element_2" data-id="'+$selected.val()+'">'+$selected.text()+'</p>');
                     $elements2.append('<input name="elements2[]" type="hidden" value="'+$selected.val()+'">');

                     $('.element_2').on('click',function(e) {
                         $('input[name="elements2[]"][value="'+$(this).data('id')+'"]').remove();
                         $(this).remove();
                     });

                     $('.selectpicker').val('default');
                    // $('.selectpicker').selectpicker("refresh");
                 })
             $("#element_id2-edit").on("changed.bs.select",
                 function(e, clickedIndex, newValue, oldValue) {
                     var $selected=$('select[id=element_id2-edit] option').filter(':selected')
                     var $elements2=$('#elements2-edit')
                     $elements2.append('<p title="Кликните для удаления" class="element_2" data-id="'+$selected.val()+'">'+$selected.text()+'</p>');
                     $elements2.append('<input name="elements2[]" type="hidden" value="'+$selected.val()+'">');
                     $('.element_2').on('click',function(e) {
                         $('input[name="elements2[]"][value="'+$(this).data('id')+'"]').remove();
                         $(this).remove();
                     });
                     $('.selectpicker').val('default');
                     //$('.selectpicker').selectpicker("refresh");
                 });
         });
         $('#editRuleModal').on('show.bs.modal', function (e) {
             var button = $(e.relatedTarget)
             var modal = $(this)
             var elements2=$('#elements2-edit')
             elements2.html($('#alsoelemsrule'+button.data('id')).html());
             $('.element_2').on('click',function(e) {
                 $('input[name="elements2[]"][value="'+$(this).data('id')+'"]').remove();
                 $(this).remove();
             });
             modal.find('#descriptionrule').val(button.data('caption'));
             modal.find('#rule_id').val(button.data('id'));
         })
         $('#editElementModal').on('show.bs.modal', function (e) {
             var button = $(e.relatedTarget)
             var modal = $(this)
             modal.find('#descriptionelem').val(button.data('description'));
         })
     </script>


 {% endblock %}