{% extends 'base.html.twig' %}


{% block title %}Поиск  по запросу {{ search|e }}{% endblock %}

{% block meta_desctiption %}Поиск  "{{ search|e }}"
    Найдено {{ count|e }}
{% endblock %}


 {% block body %}
     <div class="container">
         <div class="row">
             <div class="col-xs-12">
                 <div class="panel panel-default">
                     <div class="panel-heading"><h1>{% if search %}Результаты поиска по запросу "{{ search|e }}". Найдено: {{ count|e }}.{% else %}Задана пуска строка поиска{% endif%} </h1></div>
                     <div class="panel-body">
                         {% set interlength = 0 %}
                         {% set i = 0 %}
                         {% for word in words %}
                             <h2><a target="_blank" href="{{ url('oneelement', {'elementalias': word.alias, 'typealias':word.type.alias|e}) }}">{{ word.caption|e }} ({{ word.type.caption|e }})</a></h2>
                             <p>{{ word.short|e }}</p>
                             <hr/>
                            {% else %}
                             Увы, ничего не найдено
                         {% endfor %}
                         {% include 'pages/searchpagintation.html.twig' %}
                     </div>

                 </div>
             </div>
         </div>

            <div class="row">
                 <div class="col-xs-12">
                     <a class="btn btn-default" href="{{ url('homepage') }}">На главную</a>
                 </div>
            </div>
     </div>

 {% endblock %}