{% extends 'base.html.twig' %}


{% block title %}{{ word.titleH1|e }} {% endblock %}


{% block meta_desctiption %}Толкование сна "{{ word.caption|e }}" по соннику японской Гейши.
    Вероятность исполнения сна на {{ date('now')|russian_date }}"
{% endblock %}


 {% block body %}
     <div class="container block-content">
         <div class="row">
             <div class="col-xs-12">
                 <h1>{{ word.titleH1|e }}{% if app.environment=='dev' %} [{{ word.id|e }}]{% endif %}</h1>
             </div>
             <div class="col-xs-12">
                 {{ word.description|nl2br }}
             </div>
         </div>
         <hr/>
         <div class="row">
             <div class="col-xs-12">
                 Сбываемость снов сегодня: <b>{{tdc.percent|number_format }}%</b> (<a href="{{ url('today') }}">подробнее..</a>)
             </div>
         </div>
         <hr/>
         <div class="row">
            <div class="col-xs-12">
                <!-- Yandex.RTB R-A-2855787-1 -->
                <div id="yandex_rtb_R-A-2855787-1"></div>
                <script>window.yaContextCb.push(()=>{
                        Ya.Context.AdvManager.render({
                            "blockId": "R-A-2855787-1",
                            "renderTo": "yandex_rtb_R-A-2855787-1",
                            "type": "feed"
                        })
                    })
                </script>
            </div>
         </div>
         {% if alsowords|length >0 %}
             <hr/>
             <div class="row">
                 <div class="col-xs-12">
                     Можете также посмотреть:
                     {% for alsoword in alsowords %}
                         <a title="{{ alsoword.titleh1 }}" href="{{ url('oneword', {'alias':alsoword.alias}) }}">{{ alsoword.caption|e }}</a>{% if loop.index != alsowords|length %}, {% endif %}
                     {% endfor %}
                 </div>
             </div>
         {% endif %}
         <hr/>
         <div class="row">
             <div class="col-xs-12">
                 <a class="btn btn-default" href="{{ url('homepage') }}">На главную</a>
                 <a class="btn btn-default" href="{{ url('wordsbyletter', {'alias':word.letter.alias|e}) }}">К списку слов на букву <b>"{{ word.letter.caption|upper }}"</b></a>
             </div>
         </div>
     </div>
        <script>
            $(window).on('load', function(){
                if (typeof $(window.location.hash).offset() !== 'undefined') {
                    let top = $(window.location.hash).offset().top-90;
                    $('html,body').stop().animate({
                        scrollTop: top
                    }, 1000);
                }

            });
        </script>

 {% endblock %}